@import 'https://fonts.googleapis.com/css?family=Lato|Pacifico';

html, body {
	background-color: #f1f1f1;
	color: #636b6f;
    font-family: 'Lato', cursive;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}
.full-height {
	height: 100vh;
}
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.position-ref {
	position: relative;
}
.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}
.content {
	text-align: center;
}
.title {
	font-size: 84px;
    font-family: 'Pacifico', cursive;
}
.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}
.m-b-md {
	margin-bottom: 30px;
}
.modaltext{
	color: #636b6f;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
}

#projectlist {
	width: 960px;
	list-style: none;
}

#projectlist > li {
	font-weight: 500;
	padding: 20px;

}

#projectlist > li:last-child  {

}

.subtext {
	color: #636b6f;
	padding: 0 25px;
	font-size: 16px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .1rem;
	text-decoration: none;
}

.modalclose > img {
		width: 100px;
		height: auto;
}

.canvas-interactive-wrapper {
	position: relative;
	height: 100vh;
	text-align: center;
}

.canvas-interactive-wrapper canvas {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

